.header
  &-top
    padding-top: 0.5rem
    padding-bottom: 0.5rem
    border-bottom: 1px solid $color-border    
    &-menu 
      display: flex
      align-items: center
      &__nav
        display: flex
        justify-content: space-between        
        margin: 0 
        padding: 0
      &__list 
        margin-right: 4.7rem
        list-style: none
        padding-top: 0.4rem
        padding-bottom: 0.4rem
      .header-top-menu__link
        color: $text-color
        text-decoration: none
        font-size: 1.3rem
        font-weight: 400
      .header-top-btn
        text-decoration: none
        padding: 0.4rem 3.4rem
        border-radius: 2px
    &-data 
      display: flex
      justify-content: flex-end
      align-items: center
      margin-top: 0.45rem
      .header-top-data__enter 
        font-size: 1.3rem
        font-weight: 700
        color: $text-color
        text-decoration: none
        margin-left: 3rem
      &__lang         
        position: relative
        text-transform: uppercase
        font-size: 1.3rem
        font-weight: 400
        color: $text-color
        margin-left: 11.3rem
        margin-right: 1.7rem
        &::before
          content: ''
          display: block
          position: absolute
          top: 0
          left: -35px
          width: 25px
          height: 17px
          border: 1px solid $color-border
          border-radius: 2px
          background: url(../img/header/rus.png) center no-repeat
        &::after 
          content: ''
          display: block
          position: absolute
          top: 7px
          right: -15px
          width: 11px
          height: 6px
          background: url(../img/header/arrow_menu.svg) center no-repeat
          cursor: pointer
  &-middle 
    padding-top: 2rem
    padding-bottom: 2rem
    border-bottom: 1px solid $color-border
    &-wrap 
      display: flex
      justify-content: space-between
      align-items: center
      flex-wrap: wrap
    &-logo 
      width: 10.1rem
      height: 6.5rem
      margin-right: 3rem
    &-form 
      position: relative
    &-call
      .header-middle-btn
        text-decoration: none
    &-input 
      width: 33.5rem
      margin-right: 3rem
      &::placeholder
        font-family: 'Helvetica', sans-serif
        color: $text-input
    &-search 
      position: absolute
      top: 1.1rem
      right: 4rem
      width: 1.5rem
      height: 1.5rem
      cursor: pointer
    &-phone
      &__text 
        font-size: 1.2rem
        font-weight: 400
        color: $text-input
      .header-middle-phone__tel 
        display: block
        font-size: 1.7rem
        font-weight: 700
        color: $text-color
        text-decoration: none
    &-btn 
      margin-left: 1rem
      margin-right: 1rem
    &-basket 
      position: relative
      width: 29.2rem
      border: 1px solid $color-border-form
      border-radius: 4px
      padding: 1rem 2.3rem
      display: flex
      justify-content: space-around
      align-items: center
      &-block 
        &:hover
          .cls-1
            transition: all 0.3s
            stroke: $color-normal
        &:active
          .cls-1
            stroke: $color-active     
        &__title 
          margin: 0
          font-size: 1.2rem
          font-weight: 400
          line-height: 2rem
          span 
            color: $color-normal
            font-size: 1.7rem
            font-weight: 700
        &__compare  
          position: absolute
          top: -0.8rem
          left: 8rem
          width: 2.8rem
          height: 2rem
          padding-left: 5px
          padding-right: 5px
          background-color: #fff
          .cls-1
            stroke: $color-border-form
        &__favourites  
          position: absolute
          top: -0.8rem
          right: 9.7rem
          width: 2.8rem
          height: 2rem
          padding-left: 5px
          padding-right: 5px
          background-color: #fff
          .cls-1
            stroke: $color-border-form
        &__cart
          position: absolute
          top: -1.7rem
          right: 1.3rem
          width: 2.8rem
          height: 2rem
          padding: 5px
          background-color: #fff
          &-active
          .cls-1
            stroke: $color-normal
        &__subtitle
          margin: 0
          color: $color-normal
          font-size: 1.1rem
          font-weight: 700
          cursor: pointer
  &-bottom 
    padding-top: 2rem
    padding-bottom: 2rem
    &-arrow 
      position: absolute
      top: -1px
      right: -20px
      width: 11px
      height: 6px
    &-nav 
      display: flex
      justify-content: space-between
      margin: 0
      padding: 0
      list-style: none
      &__list 
        font-size: 1.55rem
        font-weight: 500        
        &-choice
          position: relative
          cursor: pointer           
          &:hover .header-bottom-nav__link
            transition: all 0.3s
            color: $color-normal
          &:hover .cls-1
            transition: all 0.3s
            stroke: $color-normal                       
        .header-bottom-nav__link
          color: $text-color-black
          text-decoration: none
          transition: all 0.3s
          &:hover 
            color: $color-normal
          
      
            
        
