html {
  font-size: 10px;
}

body {
  font-family: "Helvetica", sans-serif;
}

a {
  display: inline-block;
}

h2 {
  font-size: 3rem;
  font-weight: 300;
  color: #25313b;
}

h3 {
  font-size: 2.4rem;
  font-weight: 300;
  color: #25313b;
}

.button {
  color: #fff;
  background-color: #4b8ff6;
  font-family: "Helvetica", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0.8rem 2rem;
  border: 1px solid transparent;
  border-radius: 5px;
  vertical-align: middle;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.button:hover {
  background-color: #367ade;
  color: #fff;
}
.button:active {
  background-color: #2766c2;
  color: #fff;
}

.button-orange {
  color: #fff;
  background-color: #fbb741;
  font-family: "Helvetica", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1.5rem 5rem;
  border: 1px solid transparent;
  border-radius: 5px;
  vertical-align: middle;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button-orange:hover {
  background-color: #fbaa41;
  color: #fff;
}
.button-orange:active {
  background-color: #fb9041;
  color: #fff;
}

.button-disabled,
.button-continue {
  color: #c3c3c3;
  background-color: #f2f2f2;
  font-family: "Helvetica", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0.9rem 3.4rem;
  border: 1px solid transparent;
  border-radius: 5px;
  vertical-align: middle;
}
.button-disabled:hover,
.button-continue:hover {
  background-color: #f2f2f2;
  color: #c3c3c3;
}
.button-disabled:active,
.button-continue:active {
  background-color: #f2f2f2;
  color: #c3c3c3;
}

.button-continue:hover {
  background-color: #367ade;
  color: #fff;
}
.button-continue:active {
  background-color: #2766c2;
  color: #fff;
}

.input {
  font-family: "Helvetica", sans-serif;
  color: #949494;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.8rem 1.6rem;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  vertical-align: middle;
}

input:focus, button:focus {
  outline: none;
}

.bg-brown {
  background-color: #c2a698;
}

.bg-black {
  background-color: #0c0c0c;
}

.bg-gray {
  background-color: #cbccce;
}

.bg-red {
  background-color: #d23d51;
}

.bg-pink {
  background-color: #e15ec1;
}

.header-top {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #e3e3e3;
}
.header-top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-top-menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}
.header-top-menu__list {
  margin-right: 4.7rem;
  list-style: none;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.header-top-menu .header-top-menu__link {
  color: #394955;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 400;
}
.header-top-menu .header-top-btn {
  text-decoration: none;
  padding: 0.4rem 3.4rem;
  border-radius: 2px;
}
.header-top-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.45rem;
}
.header-top-data .header-top-data__enter {
  font-size: 1.3rem;
  font-weight: 700;
  color: #394955;
  text-decoration: none;
  margin-left: 3rem;
}
.header-top-data__lang {
  position: relative;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 400;
  color: #394955;
  margin-left: 11.3rem;
  margin-right: 1.7rem;
}
.header-top-data__lang::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -35px;
  width: 25px;
  height: 17px;
  border: 1px solid #e3e3e3;
  border-radius: 2px;
  background: url(../img/header/rus.png) center no-repeat;
}
.header-top-data__lang::after {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  right: -15px;
  width: 11px;
  height: 6px;
  background: url(../img/header/arrow_menu.svg) center no-repeat;
  cursor: pointer;
}
.header-middle {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #e3e3e3;
}
.header-middle-link-burger {
  display: none;
  height: 3px;
  width: 23px;
  background-color: #4b8ff6;
}
.header-middle-link-burger:before {
  content: "";
  position: absolute;
  height: 3px;
  width: 23px;
  background-color: #4b8ff6;
  margin-top: -8px;
}
.header-middle-link-burger:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 23px;
  background-color: #4b8ff6;
  margin-top: 8px;
}
.header-middle-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header-middle-logo {
  width: 10.1rem;
  height: 6.5rem;
  margin-right: 3rem;
}
.header-middle-form {
  position: relative;
}
.header-middle-call .header-middle-btn {
  text-decoration: none;
}
.header-middle-input {
  width: 33.5rem;
  margin-right: 3rem;
}
.header-middle-input::-webkit-input-placeholder {
  font-family: "Helvetica", sans-serif;
  color: #949494;
}
.header-middle-input:-ms-input-placeholder {
  font-family: "Helvetica", sans-serif;
  color: #949494;
}
.header-middle-input::-ms-input-placeholder {
  font-family: "Helvetica", sans-serif;
  color: #949494;
}
.header-middle-input::placeholder {
  font-family: "Helvetica", sans-serif;
  color: #949494;
}
.header-middle-search {
  position: absolute;
  top: 1.1rem;
  right: 4rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.header-middle-phone__text {
  font-size: 1.2rem;
  font-weight: 400;
  color: #949494;
}
.header-middle-phone .header-middle-phone__tel {
  display: block;
  font-size: 1.7rem;
  font-weight: 700;
  color: #394955;
  text-decoration: none;
}
.header-middle-btn {
  margin-left: 1rem;
  margin-right: 1rem;
}
.header-middle-btn-mobile {
  display: none;
}
.header-middle-basket {
  position: relative;
  width: 29.2rem;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  padding: 1rem 2.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-middle-basket-block:hover .cls-1 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  stroke: #4b8ff6;
}
.header-middle-basket-block:active .cls-1 {
  stroke: #2766c2;
}
.header-middle-basket-block__title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
}
.header-middle-basket-block__title span {
  color: #4b8ff6;
  font-size: 1.7rem;
  font-weight: 700;
}
.header-middle-basket-block__compare {
  position: absolute;
  top: -0.8rem;
  left: 8rem;
  width: 2.8rem;
  height: 2rem;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #fff;
}
.header-middle-basket-block__compare .cls-1 {
  stroke: #dbdbdb;
}
.header-middle-basket-block__favourites {
  position: absolute;
  top: -0.8rem;
  right: 9.7rem;
  width: 2.8rem;
  height: 2rem;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #fff;
}
.header-middle-basket-block__favourites .cls-1 {
  stroke: #dbdbdb;
}
.header-middle-basket-block__cart {
  position: absolute;
  top: -1.7rem;
  right: 1.3rem;
  width: 2.8rem;
  height: 2rem;
  padding: 5px;
  background-color: #fff;
}
.header-middle-basket-block__cart .cls-1 {
  stroke: #4b8ff6;
}
.header-middle-basket-block__subtitle {
  margin: 0;
  color: #4b8ff6;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
}
.header-bottom {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.header-bottom-arrow {
  position: absolute;
  top: -1px;
  right: -20px;
  width: 11px;
  height: 6px;
}
.header-bottom-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-bottom-nav__list {
  font-size: 1.55rem;
  font-weight: 500;
}
.header-bottom-nav__list-choice {
  position: relative;
  cursor: pointer;
}
.header-bottom-nav__list-choice:hover .header-bottom-nav__link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #4b8ff6;
}
.header-bottom-nav__list-choice:hover .cls-1 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  stroke: #4b8ff6;
}
.header-bottom-nav__list .header-bottom-nav__link {
  color: #25313b;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header-bottom-nav__list .header-bottom-nav__link:hover {
  color: #4b8ff6;
}

.overlay-basket {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.1);
}

.basket-modal {
  position: absolute;
  left: 50%;
  top: 100px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 68rem;
  padding-bottom: 2.5rem;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 21px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 21px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.basket-modal-title {
  font-size: 1.8rem;
  font-weight: 300;
  padding: 1.8rem 2rem;
  color: #25313b;
  background-color: #f6f6f6;
}
.basket-modal-close {
  position: absolute;
  right: 2rem;
  top: 2.3rem;
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
}
.basket-modal-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1.8rem 2rem;
}
.basket-modal-item-desc {
  width: 16.3rem;
}
.basket-modal-item-desc__close {
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
}
.basket-modal-item-txt {
  margin: 0;
  color: #25313b;
  font-size: 1.5rem;
  font-weight: 500;
}
.basket-modal-item-txt span {
  font-weight: 300;
}
.basket-modal-item-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 8.7rem;
  height: 4.1rem;
  padding: 0 0.7rem;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 300;
  color: #25313b;
}
.basket-modal-item-price {
  width: 11.2rem;
  color: #25313b;
  font-size: 2.4rem;
  font-weight: 500;
}
.basket-modal-item-price span {
  font-size: 1.8rem;
  font-weight: 300;
}
.basket-modal-item-reduce, .basket-modal-item-add {
  color: #e0e0e0;
  cursor: pointer;
}
.basket-modal-item-lot {
  padding: 0.5rem 1.5rem;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}
.basket-modal-optional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.8rem 1rem;
  margin: 0 1rem;
  border-bottom: 1px solid #e0e0e0;
}
.basket-modal-optional-kit {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.basket-modal-optional-title {
  color: #25313b;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.basket-modal-optional-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}
.basket-modal-optional-item__check {
  width: 1.7rem;
  height: 1.7rem;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 1.2rem;
}
.basket-modal-optional-item__check-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid transparent;
  background-color: #4b8ff6;
}
.basket-modal-optional-item__check-img {
  margin: auto;
}
.basket-modal-optional-item__desc {
  color: #25313b;
  font-size: 1.4rem;
  font-weight: 300;
}
.basket-modal-optional-item__desc-active {
  font-weight: 700;
}
.basket-modal-optional-guarantee {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.basket-modal-optional-guarantee-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.basket-modal-optional-guarantee-color-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 3.7rem;
  height: 3.7rem;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  margin-right: 0.5rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
.basket-modal-optional-guarantee-color-box__active {
  border: 1px solid #5496f7;
}
.basket-modal-optional-guarantee-color-item {
  width: 2.5rem;
  height: 2.5rem;
  margin: auto;
  border: 1px solid transparent;
  border-radius: 3px;
}
.basket-modal-optional-guarantee-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24.6rem;
  height: 3.6em;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 0 1.4rem;
}
.basket-modal-optional-guarantee-choice-txt {
  color: #25313b;
  font-size: 1.4rem;
  font-weight: 300;
  margin: 0;
}
.basket-modal-optional-guarantee-choice-img {
  width: 10px;
  height: 6px;
  cursor: pointer;
}
.basket-modal-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1rem;
  padding: 2.5rem 1rem;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
.basket-modal-total-txt {
  color: #25313b;
  font-size: 1.8rem;
  margin: 0;
  font-weight: 300;
}
.basket-modal-total-price {
  color: #25313b;
  font-size: 2.4rem;
  font-weight: 500;
  margin: 0;
}
.basket-modal-total-price span {
  font-size: 1.8rem;
  font-weight: 300;
}
.basket-modal-buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.5rem 2rem 0 2rem;
}
.basket-modal-buy .button {
  text-decoration: none;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.1);
}

.callback {
  position: fixed;
  left: 50%;
  top: 100px;
  width: 33.5rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
}
.callback-title {
  font-size: 1.8rem;
  font-weight: 300;
  padding: 1.8rem 2rem;
  color: #25313b;
  background-color: #f6f6f6;
}
.callback-close {
  position: absolute;
  right: 2rem;
  top: 2.3rem;
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
}
.callback-form-header {
  padding: 2rem;
}
.callback-form-label {
  font-size: 1.5rem;
  font-weight: 500;
  color: #25313b;
}
.callback-form-enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem;
}
.callback-form-input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.callback-form-input::-webkit-input-placeholder {
  color: #949494;
  font-family: "Helvetica", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
}
.callback-form-input:-ms-input-placeholder {
  color: #949494;
  font-family: "Helvetica", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
}
.callback-form-input::-ms-input-placeholder {
  color: #949494;
  font-family: "Helvetica", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
}
.callback-form-input::placeholder {
  color: #949494;
  font-family: "Helvetica", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
}
.callback-form-btn {
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 10px rgba(84, 150, 247, 0.37);
          box-shadow: 0 0 10px rgba(84, 150, 247, 0.37);
}

.slider {
  background: #4b8ff6 url(../img/slider/slider-bg.jpg) center no-repeat;
  background-size: cover;
  padding-top: 7.6rem;
  padding-bottom: 9.3rem;
  color: #fff;
}
.slider-bg {
  display: block;
}
.slider-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider-img {
  position: relative;
}
.slider-img-shadow {
  position: absolute;
  bottom: -12px;
  right: 15px;
}
.slider-txt {
  padding-left: 1rem;
}
.slider-txt .slider-btn {
  text-decoration: none;
}
.slider-title {
  position: relative;
  font-size: 48px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 3.9rem;
}
.slider-title:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 93px;
  height: 1px;
  background-color: #fff;
}
.slider-subtitle {
  font-size: 30px;
  font-weight: 300;
  line-height: 38px;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}
.slider-desc {
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 2.6rem;
}
.slider-arrow {
  position: absolute;
  bottom: 3.8rem;
  width: 9px;
  height: 14px;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.slider-arrow__left {
  left: 46%;
  background: url(../img/slider/arrow_slider_left.svg) no-repeat center;
}
.slider-arrow__right {
  right: 46%;
  background: url(../img/slider/arrow_slider_right.svg) no-repeat center;
}

.slider-bg.slick-initialized {
  margin-bottom: 0;
}

.slick-dots {
  bottom: 35px;
}
.slick-dots li {
  margin: 0;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #fff;
}

.slick-dots li button:before {
  color: #fff;
}

.popular {
  padding-top: 5rem;
  padding-bottom: 3.5rem;
  background-color: #f6f6f6;
}
.popular-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}
.popular-btn {
  padding: 0.4rem 2.3rem;
  border-radius: 2px;
}
.popular .popular-btn {
  text-decoration: none;
}
.popular-block {
  min-height: 44rem;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 2.5rem;
  background-color: #fff;
  padding: 1rem 1rem 2rem 1rem;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.popular-block:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}
.popular-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.popular-info-code {
  font-size: 1.3rem;
  font-weight: 400;
  color: #aaaaac;
}
.popular-info-stock {
  position: relative;
  font-size: 1.3rem;
  font-weight: 400;
  color: #82c615;
}
.popular-info-stock::before {
  content: "";
  display: block;
  width: 16px;
  height: 17px;
  position: absolute;
  top: 0;
  left: -22px;
  background: url(../img/popular/in_stock.svg) center no-repeat;
}
.popular-info-outstock {
  position: relative;
  font-size: 1.3rem;
  font-weight: 400;
  color: #e01717;
}
.popular-info-outstock::before {
  content: "";
  display: block;
  width: 16px;
  height: 17px;
  position: absolute;
  top: 0;
  left: -22px;
  background: url(../img/popular/out_of_stock.svg) center no-repeat;
}
.popular-info-expects {
  position: relative;
  font-size: 1.3rem;
  font-weight: 400;
  color: #c3c3c3;
}
.popular-info-expects::before {
  content: "";
  display: block;
  width: 16px;
  height: 17px;
  position: absolute;
  top: 0;
  left: -22px;
  background: url(../img/popular/expects.svg) center no-repeat;
}
.popular-img {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.popular-img-picture {
  display: block;
  margin: 0 auto;
}
.popular-img-wrapper {
  position: absolute;
  top: 20px;
}
.popular-img-block {
  display: block;
  color: #fff;
  background-color: #a621dd;
  font-family: "Helvetica", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.1rem 0.7rem;
  margin-bottom: 0.5rem;
  border: 1px solid transparent;
  border-radius: 3px;
  vertical-align: middle;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.popular-img-block__pink {
  background-color: #ff7b88;
}
.popular-descr {
  height: 5rem;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #25313b;
  margin-bottom: 0.5rem;
}
.popular-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}
.popular-price-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.popular-price-star-box {
  width: 17px;
  height: 15px;
  border: none;
  margin-right: 2px;
  margin-bottom: 4px;
}
.popular-price-cost {
  font-size: 22px;
  font-weight: 500;
  color: #25313b;
}
.popular-price-cost span {
  font-weight: 300;
}
.popular-price-cost__disabled {
  color: #c3c3c3;
}
.popular-buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.popular-buy-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.popular-buy-add-box {
  position: relative;
  width: 31px;
  height: 31px;
  cursor: pointer;
  margin-right: 4px;
}
.popular-buy-add-box:hover .popular-buy-add-img__hover {
  display: block;
  z-index: 4;
}
.popular-buy-add-box:active .popular-buy-add-img__active {
  display: block;
  z-index: 4;
}
.popular-buy-add-img {
  position: absolute;
}
.popular-buy-add-img__normal {
  z-index: 3;
}
.popular-buy-add-img__hover {
  display: none;
}
.popular-buy-add-img__active {
  display: none;
}
.popular-buy .popular-buy-btn {
  padding: 0.9rem 3.4rem;
  -webkit-box-shadow: 0 0 21px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 21px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.popular-buy .button-disabled {
  cursor: pointer;
}

.discounts {
  padding-top: 5rem;
  padding-bottom: 4rem;
  background: #4b8ff6 url(../img/discounts/discounts-bg.jpg) center no-repeat;
}
.discounts img {
  width: 100%;
}
.discounts-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}
.discounts-title__white {
  color: #fff;
}
.discounts .discounts-btn {
  padding: 0.4rem 2.3rem;
  border-radius: 2px;
  background-color: #fff;
  color: #4b8ff6;
  font-family: "Helvetica", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  border: 1px solid transparent;
  vertical-align: middle;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.discounts .discounts-btn:hover {
  background-color: #e6e6e6;
  color: #7cadf8;
}

.news {
  padding-top: 5rem;
  padding-bottom: 2.5rem;
  background-color: #f6f6f6;
}
.news-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}
.news-title .popular-btn {
  text-decoration: none;
}

.viewed {
  padding-bottom: 5rem;
  background-color: #f6f6f6;
}
.viewed-title {
  margin-bottom: 2.5rem;
}
.viewed-slider-box {
  width: 218px;
  height: 308px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  padding-top: 1.8rem;
  outline: none;
  cursor: pointer;
}
.viewed-slider-img {
  margin-bottom: 2rem;
}
.viewed-slider-picture {
  display: block;
  margin: 0 auto;
}
.viewed-slider-title {
  height: 4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  color: #25313b;
  margin-bottom: 1.5rem;
}
.viewed-slider-price {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: #25313b;
}
.viewed-slider-price span {
  font-weight: 300;
}
.viewed-slider-arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 2;
  cursor: pointer;
  top: -62px;
}
.viewed-slider-arrow__left-normal {
  background: url(../img/viewed/arrow_left_normal.svg) no-repeat center;
  right: 38px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.viewed-slider-arrow__left-normal:hover {
  background: url(../img/viewed/arrow_left_hover.svg) no-repeat center;
}
.viewed-slider-arrow__left-normal:active {
  background: url(../img/viewed/arrow_left_active.svg) no-repeat center;
}
.viewed-slider-arrow__right-normal {
  background: url(../img/viewed/arrow_right_normal.svg) no-repeat center;
  right: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.viewed-slider-arrow__right-normal:hover {
  background: url(../img/viewed/arrow_right_hover.svg) no-repeat center;
}
.viewed-slider-arrow__right-normal:active {
  background: url(../img/viewed/arrow_right_active.svg) no-repeat center;
}

.notification {
  padding-bottom: 5rem;
  background-color: #f6f6f6;
}
.notification-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}
.notification-title .popular-btn {
  text-decoration: none;
}
.notification-subtitle {
  margin-bottom: 1.5rem;
}
.notification-box {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  min-height: 29.6rem;
  margin-bottom: 5rem;
  cursor: pointer;
}
.notification-box-img {
  padding: 5px;
  margin-bottom: 1.5rem;
}
.notification-box-picture {
  width: 100%;
}
.notification-box-descr {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 21px;
  color: #25313b;
  margin-left: 2rem;
  margin-right: 2rem;
}
.notification-detail-txt {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24px;
  color: #25313b;
  text-align: justify;
}

.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.footer-logo {
  width: 10.1rem;
  height: 6.5rem;
}
.footer-title {
  font-size: 1.6rem;
  font-weight: 500;
  color: #25313b;
  margin: 0;
  margin-bottom: 0.5rem;
}
.footer-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-list {
  font-size: 1.4rem;
  font-weight: 30;
  margin-bottom: 0.3rem;
}
.footer .footer-link {
  color: #25313b;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer .footer-link:hover {
  color: #4b8ff6;
}
.footer-contacts-phone-text {
  font-size: 1.2rem;
  font-weight: 400;
  color: #949494;
}
.footer-contacts .footer-contacts-phone__tel {
  display: block;
  font-size: 1.7rem;
  font-weight: 700;
  color: #394955;
  text-decoration: none;
}
.footer-contacts .footer-contacts-btn {
  text-decoration: none;
  margin-top: 0.9rem;
  margin-bottom: 2rem;
}
.footer-contacts-address {
  display: block;
  color: #25313b;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.footer-social-box {
  position: relative;
  width: 3.3rem;
  height: 3.3rem;
  margin-right: 0.5rem;
}
.footer-social-box__fb:hover .footer-social__hover {
  display: block;
}
.footer-social-box__vk:hover .footer-social__hover {
  display: block;
}
.footer-social-box__twitter:hover .footer-social__hover {
  display: block;
}
.footer-social-box__youtube:hover .footer-social__hover {
  display: block;
}
.footer-social__normal {
  position: absolute;
  display: block;
}
.footer-social__hover {
  position: absolute;
  display: none;
}
.footer-payment {
  padding-left: 2rem;
}
.footer-payment-box {
  width: 5.5rem;
  height: 3.4rem;
  margin-right: 0.5rem;
  margin-top: 0.4rem;
  margin-bottom: 3.7rem;
}
.footer-payment-mail {
  width: 14rem;
  height: 3rem;
  margin-top: 0.5rem;
}
.footer-bottom {
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-top: 1px solid #e3e3e3;
}
.footer-bottom-txt {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
  color: #949494;
}

@media (max-width: 575.98px) {
  html {
    font-size: 8px;
  }

  .hide-block {
    display: none;
  }

  .header-top-menu {
    display: none;
  }
  .header-top-data {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.5rem;
  }
  .header-top-data__lang::after {
    top: 5px;
  }
  .header-middle-basket {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .header-middle-link-burger {
    display: block;
  }
  .header-middle-form {
    display: none;
  }
  .header-middle-btn {
    display: none;
  }
  .header-middle-btn-mobile {
    display: block;
  }
  .header-middle-basket {
    margin-top: 2rem;
  }
  .header-bottom-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-bottom-nav__list {
    font-size: 2.7rem;
  }

  .slider-bg {
    display: none;
  }

  h2 {
    font-size: 2rem;
  }

  .discount-o {
    display: none;
  }

  .viewed-slider-arrow {
    top: -42px;
  }

  .notification-box {
    margin-bottom: 2rem;
  }
  .notification-subtitle {
    text-align: center;
  }

  .footer-logo {
    display: none;
  }
  .footer-catalog, .footer-clients, .footer-contacts, .footer-payment {
    text-align: center;
    margin-bottom: 2rem;
  }
  .footer-title {
    font-size: 2.6rem;
  }
  .footer-link {
    font-size: 1.8rem;
  }

  .overlay-basket {
    position: absolute;
  }

  .basket-modal {
    width: 33rem;
    top: 0;
  }
  .basket-modal-optional {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .basket-modal-item-desc {
    width: 25rem;
  }
  .basket-modal-item-count {
    margin-top: 1rem;
  }
  .basket-modal-buy {
    display: block;
  }
  .basket-modal-buy a {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 8px;
  }

  .hide-block {
    display: none;
  }

  .header-top-menu {
    display: none;
  }
  .header-top-data {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.5rem;
    margin-left: 0;
  }
  .header-top-data__lang {
    margin-right: 5rem;
  }
  .header-top-data__lang::after {
    top: 5px;
  }
  .header-middle-logo {
    margin-right: 0;
  }
  .header-middle-link-burger {
    display: block;
  }
  .header-middle-form {
    display: none;
  }
  .header-middle-btn {
    display: none;
  }
  .header-middle-btn-mobile {
    display: block;
  }
  .header-middle-basket {
    margin-top: 2rem;
  }
  .header-bottom-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-bottom-nav__list {
    font-size: 2.7rem;
  }

  .slider-bg {
    display: none;
  }

  h2 {
    font-size: 2rem;
  }

  .viewed-slider-arrow {
    top: -42px;
  }

  .notification-box {
    margin-bottom: 2rem;
    min-height: 30.6rem;
  }
  .notification-subtitle {
    text-align: center;
  }

  .footer-logo {
    display: none;
  }
  .footer-catalog, .footer-clients, .footer-contacts, .footer-payment {
    text-align: center;
    margin-bottom: 2rem;
  }
  .footer-title {
    font-size: 2.6rem;
  }
  .footer-link {
    font-size: 1.8rem;
  }

  .overlay-basket {
    position: absolute;
  }

  .basket-modal {
    width: 36.5rem;
    top: 0;
  }
  .basket-modal-optional {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .basket-modal-item-desc {
    width: 25rem;
  }
  .basket-modal-item-count {
    margin-top: 1rem;
  }
  .basket-modal-buy {
    display: block;
  }
  .basket-modal-buy a {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 9px;
  }

  .hide-block {
    display: none;
  }

  .header-top-btn {
    display: none;
  }
  .header-top-menu__list {
    margin-right: 3.7rem;
  }
  .header-top-data {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.5rem;
    margin-left: 0;
  }
  .header-top-data__lang {
    margin-left: 5rem;
  }
  .header-top-data__lang::after {
    top: 5px;
  }
  .header-middle-logo {
    margin-right: 0;
  }
  .header-middle-basket {
    margin-top: 0;
  }
  .header-middle-link-burger {
    display: block;
  }
  .header-middle-form {
    display: none;
  }
  .header-middle-btn {
    display: none;
  }
  .header-middle-btn-mobile {
    display: block;
  }
  .header-middle-basket {
    margin-top: 0;
  }
  .header-bottom-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-bottom-nav__list {
    font-size: 2.7rem;
  }

  .slider-bg {
    display: none;
  }

  h2 {
    font-size: 2rem;
  }

  .viewed-slider-arrow {
    top: -42px;
  }

  .notification-box {
    margin-bottom: 2rem;
    min-height: 30.6rem;
  }
  .notification-subtitle {
    text-align: center;
  }

  .footer-social-box {
    width: 2rem;
    height: 2rem;
  }
  .footer-contacts .footer-contacts-phone__tel {
    font-size: 1.5rem;
  }
  .footer-contacts-btn {
    display: none;
  }

  .overlay-basket {
    position: absolute;
  }

  .basket-modal {
    top: 0;
    left: -5rem;
  }
  .basket-modal-item-desc {
    width: 25rem;
  }
  .basket-modal-item-count {
    margin-top: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .slider-arrow__left {
    left: 45%;
  }

  .slider-arrow__right {
    right: 45%;
  }

  .hide-block {
    display: block;
  }

  .header-top-menu__list {
    margin-right: 3.7rem;
  }
  .header-top-data {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.5rem;
    margin-left: 0;
  }
  .header-top-data__lang {
    margin-left: 5rem;
  }
  .header-top-data__lang::after {
    top: 5px;
  }
  .header-middle-logo {
    margin-right: 0;
  }
  .header-middle-basket {
    margin-top: 0;
  }
  .header-middle-link-burger {
    display: none;
  }
  .header-middle-input {
    width: 25rem;
  }
  .header-middle-btn {
    display: none;
  }
  .header-middle-btn-mobile {
    display: block;
  }
  .header-middle-basket {
    margin-top: 0;
  }
  .header-bottom {
    display: block;
  }

  h2 {
    font-size: 2rem;
  }

  .viewed-slider-arrow {
    top: -42px;
  }

  .notification-box {
    margin-bottom: 2rem;
    min-height: 30.6rem;
  }
  .notification-subtitle {
    text-align: center;
  }

  .footer-social-box {
    width: 2rem;
    height: 2rem;
  }
  .footer-contacts .footer-contacts-phone__tel {
    font-size: 1.5rem;
  }

  .overlay-basket {
    position: absolute;
  }

  .basket-modal {
    top: 0;
    left: -5rem;
  }
  .basket-modal-item-desc {
    width: 25rem;
  }
  .basket-modal-item-count {
    margin-top: 1rem;
  }
}
@media (min-width: 1200px) {
  .hide-block {
    display: block;
  }
}
